[submodule "Assets/Plugin/graph-visualizer"]
	path = Assets/Plugin/graph-visualizer
	url = git@github.com:SardineFish/graph-visualizer.git
[submodule "Assets/Plugin/InputSystem"]
	path = Assets/Plugin/InputSystem
	url = https://github.com/Unity-Technologies/InputSystem.git
